.t-header{
    background-color:#086cc4;
}

.t-footer{
    background-color:#333;
    color: #aaa;
}

.full-width{
    width: 100%;
}

form{
    margin: 10px;
}

.spaced{
    margin: 5px;
}

.spaced-no-left{
    margin-right:5px;
    margin-top:5px;
    margin-bottom:5px;
}

span.c-form__required{
    color: #9d0725;
    font-weight: bold;
}

div.l-row{
    width:100%;
}
.very-nice-bottom{
    margin-bottom:20px;
}

.very-nice-top{
    margin-top:20px;
}

li.c-list-item--is-active > a{
    color: white;
}

li.c-list-item--is-active > a:hover{
    color: white;
    background-color:#086cc4!important;
    text-decoration:none!important;
}


span.wide-icon > span.material-design-icon > svg{
    width:30px;
    height:30px;
}

th > span.material-design-icon > svg {
    width: 18px;
    height:18px;
}

td > span > span.material-design-icon > svg {
    width: 20px;
    height:20px;
}

a > span > span.material-design-icon > svg {
    width: 20px;
    height:20px;
}

.l-row{
    width:100%;
}

main{
    overflow-y:auto;
}

.first-blue{
    background-color: rgb(206, 226, 243);
}

.second-blue{
    background-color: rgb(230, 240, 249);
}

.with-roof{
    border-top: 1px solid lightgray;
}

.with-roof:hover{
    background-color: ghostwhite;
}

.c-modal-custom{
    font-size: 1.4rem;
}

textarea{
    min-height: 100px;
}

.table-cell-fifteen{
    flex-basis:15%;
}

.table-cell-forty{
    flex-basis: 40%;
}

.table-cell-twenty{
    flex-basis: 20%;
}

.table-cell-thirty-five{
    flex-basis: 35%;
}

.table-cell-thirty{
    flex-basis: 30%;
}

.table-cell-twenty-five{
    flex-basis: 25%;
}

.table-cell-ten{
    flex-basis: 10%;
}

.table-cell-five{
    flex-basis: 5%;
}

.table-cell-one-hundred{
    flex-basis: 100%;
}

.top-right-add{
    margin:auto;
}

.top-right-add > span > svg {
    width: 30px;
    height: 30px;
}

.info-icon > span > svg {
    fill: #08abc4;
}

.primary-icon > span > svg {
    fill: #086cc4;
}

.warning-icon > span > svg {
    fill: #e46f09;
}

.communist-button > span > svg {
    fill: #9d0725;
}

.ecolo-button > span > svg {
    fill: #07b358;
}

.sidebar-background{
    background-color: #f9f9f9;
}

.clean-fieldset{
    background-color: #f9f9f9;
}

main.t-content{
    margin-left: 5px;
}

.nice-top {
    margin-top: 5px;
}

.bottom-spaced{
    margin-bottom: 20px;
}

span.large {
    min-width: 200px;
}

.terminal-structure{
    background-color: rgb(255, 239, 239);
}

ul.breadcrumb {
    list-style: none;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li button {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li button:hover {
    color: #01447e;
    text-decoration: none;
}
