.t-header{
    background-color:#086cc4;
}

.t-footer{
    background-color:#333;
    color: #aaa;
}

.full-width{
    width: 100%;
}

form{
    margin: 10px;
}

.spaced{
    margin: 5px;
}

.spaced-no-left{
    margin-right:5px;
    margin-top:5px;
    margin-bottom:5px;
}

span.c-form__required{
    color: #9d0725;
    font-weight: bold;
}

div.l-row{
    width:100%;
}
.very-nice-bottom{
    margin-bottom:20px;
}

.very-nice-top{
    margin-top:20px;
}

li.c-list-item--is-active > a{
    color: white;
}

li.c-list-item--is-active > a:hover{
    color: white;
    background-color:#086cc4!important;
    text-decoration:none!important;
}


span.wide-icon > span.material-design-icon > svg{
    width:30px;
    height:30px;
}

.l-row{
    width:100%;
}

main{
    overflow-y:auto;
}

.first-blue{
    background-color: rgb(206, 226, 243);
}

.second-blue{
    background-color: rgb(230, 240, 249);
}

.with-roof{
    border-top: 1px solid lightgray;
}

.with-roof:hover{
    background-color: ghostwhite;
}
